@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  font-family: 'Muli', sans-serif;
  padding: 1rem;
  /* margin: 0.5rem; */
  background-color: #f1f1f1;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 0.5rem 1rem;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin: 1rem 0.5rem;
}

.search-container .search-input {
  padding: 0.5rem;
  margin: 0 1rem;
  width: 22rem;
}

.search-container .search-btn,
.gallery-collection .gallery-item .learn-more {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.search-container .search-input,
.search-container .search-btn,
.gallery-collection .gallery-item .learn-more {
  border-radius: 5px;
  color: #0b40ee;
  background-color: #fff;
  border: 1px solid #0b40ee;
  outline: none;
}

.search-container .search-btn:hover,
.gallery-collection .gallery-item .learn-more:hover {
  background-color: #0b40ee;
  color: #fff;
  cursor: pointer;
}

/* Gallery */

.gallery-collection {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.gallery-collection .gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* margin: 0.5rem 1rem; */
  margin: 0.5rem;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
}

.gallery-collection .gallery-item img {
  border-radius: 5px;
  max-width: 95%;
}
.gallery-collection .gallery-item p {
  padding: 0.5rem 0;
  margin: 1rem 0;
}
.gallery-collection .gallery-item .learn-more {
  text-decoration: none;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
  .gallery-collection {
    /* max-width: 1024px; */
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery-collection .gallery-item {
    flex: 1/3;
  }
}
